@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center my-5">
    <h2 class="fw-bold">Witaj w CarReservationCore</h2>
    <p class="lead">Tutaj zarezerwujesz auto szybko i wygodnie.</p>
    <a asp-controller="Cars" asp-action="Index" class="btn btn-primary btn-lg mt-3">
        <i class="fa-solid fa-list"></i> Przeglądaj samochody
    </a>
</div>
